@import '../../color.less';

button.btn-connect {
    display: block;
    position: absolute;
    bottom: 100px;
    height: 40px;
    width: 60%;
    left: 50%;
    background-color: @color-coral;
    transform: translateX(-50%);
}

.qrcode {
    position: absolute;
    width: 300px;
    height: 300px;
    align-self: start;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);

}

.qrcode-mask {
    .qrcode();
    background-color: rgba(0, 0, 0, 0.1);
}