@import '../../styles/color.less';

button.btn-connect {
    display: block;
    position: absolute;
    bottom: 100px;
    height: 40px;
    width: 60%;
    left: 50%;
    background-color: @color-coral;
    transform: translateX(-50%);
}

@qrcode-size: 250px;

@svg-size: 40px;
@btn-size: 80px;

.qrcode {
    box-sizing: border-box;
    position: absolute;
    width: @qrcode-size;
    height: @qrcode-size;
    left: 53px;
    top: 148px;
}

.qrcode-mask {
    .qrcode();
    background-color: rgba(255, 255, 255, 0.9);

    .refresh {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: @svg-size;
        width: @svg-size;
        fill: @color-coral;
    }

    .qrcode-mask-btn {
        position: absolute;
        top: calc(@qrcode-size / 2 - @btn-size / 2);
        left: calc(@qrcode-size / 2 - @btn-size / 2);
        height: @btn-size;
        width: @btn-size;
        border-radius: 50%;
        background-color: #fff;
        align-items: center;
        box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.4);
        cursor: pointer;
    }

    .loading {
        animation: turn 1.5s linear infinite;
    }
}

.hint {
    position: absolute;
    width: 166px;
    height: 20px;
    left: 95px;
    top: 105px;

    font-family: Sansation;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;

    color: #000000;
}

.manual {
    position: absolute;
    top: calc(60px + @qrcode-size + 50px);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    img.refresh {
        position: relative;
        top: 7px;
        display: inline-block;
        width: 24px;
        height: 24px;
        cursor: pointer;
        margin-right: 20px;
    }

    span {
        display: inline-block;
        height: 24px;
    }
}

.btn-guides,
.btn-refresh {
    position: absolute;
    font-family: Sansation;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #2749BF;
    height: 20px;
    cursor: pointer;
}

.btn-guides {
    left: 53px;
    top: 415px;
}

.btn-refresh {
    left: 243px;
    top: 415px;

    .img-refresh {
        float: right;
        height: 15px;
        width: 15px;
        padding-left: 10px;
        padding-top: 2px;
    }
}

.err-msg {
    position: absolute;
    width: 190px;
    height: 13px;
    left: 83px;
    top: 468px;

    font-family: Sansation;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 13px;

    color: #B70000;

}

@keyframes turn {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}